@import "tailwindcss";
@font-face {
  font-family: "PlusJakartaSans";
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf"),
    url("../assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf");
}

.p-color {
  color: hsl(200, 24%, 40%);
}

.deep-color {
  color: hsl(202, 55%, 16%);
  border-color: hsl(200, 24%, 40%);
}
